.gs-sum-widget {
    position: relative;
    background: #fff;
    float: left;
    margin: 0 10px 10px 0;
    width: 240px !important;
    font-family: "HelveticaNeueRegular",Arial;
    overflow: hidden;
    /*
	border: 1px solid #ccc;
	border-radius: 3px;
    border-bottom: 5px solid #78a531;*/
}

.gs-sum-widgethead {
    height: 38px;
    font-size: 28px;
    text-align: left;
    line-height: 38px;
    color: #333;
    background: url(../../images/summary-images/stage.png) no-repeat 15px center;
    padding-left: 53px;
    /*border-bottom: 1px solid #dbdbdb;*/
}
 .gs-sum-widgetfooter{
	 height: 38px;
    font-size: 18px;
    text-align: left;
    line-height: 38px;
    color: #333;
    background: url(../../images/summary-images/stage.png) no-repeat 15px center;
    padding-left: 53px;
 }

.gs-sum-widgetdetacnt {
    text-align: center;
}


